<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{index :: head}"></head>
<body>

    <nav th:insert="~{index :: navbar}"></nav>

    <h1 class="text-center p-2">Dettaglio articolo da revisionare</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <img th:if="${article.image != null and article.image.path != null and !article.image.path.isEmpty()}" th:src="${article.image.path}" alt="Foto dell'articolo" class="img-fluid">
                <img th:unless="${article.image != null and article.image.path != null and !article.image.path.isEmpty()}" th:src="@{/images/default.png}" alt="Immagine di default" class="img-fluid">
            </div>
            <div class="col-12 col-md-6 p-2">
                <div class="p-2">
                    <a th:href="@{/users/search/{id}(id=${article.user.id})}" class="text-decoration-none">
                        <div>
                            Autore: <span th:text="${article.user.username}"></span>
                        </div>
                    </a>
                </div>
                <div class="p-2">
                    <p th:if="${article.category != null}">
                        <a th:href="@{/categories/search/{id}(id=${article.category.id})}" class="text-decoration-none">
                            <div>
                                Categoria: <span th:text="${article.category.name}"></span>
                            </div>
                        </a>
                    </p>
                    
                    <p th:if="${article.category == null}">
                        Nessuna categoria
                    </p>
                </div>
                <div class="p-2">
                    <p class="exception">Pubblicato il: <span th:text="${article.publishDate}"></span></p>
                </div>
            </div>
            <div class="col-12">
                <p class="p-2 exception">Descrizione <div th:text="${article.body}" class="exception"></div></p>
            </div>
            <div class="d-flex justify-content-center">
                <form th:action="@{/articles/accept}" method="post">
                    <input type="hidden" name="articleId" th:value="${article.id}">
                    <button type="submit" class="btn btn-primary" name="action" value="accept">Accetta</button>

                    <button type="submit" name="action" value="reject" class="btn btn-danger">Rifiuta
                    </button>
                </form>
            </div>
            <div class="col-12 text-center p-2">
                <a href="#" class="btn btn-primary" onclick="goBack()">Torna indietro</a>
            </div>
        </div>
    </div>



    <footer th:insert="~{index :: footer}"></footer>

    <script th:replace="~{index :: bootstrapScript}"></script>

    <script> function goBack(){
            window.history.back();
        }
    </script>
    
</body>
</html>