<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{index :: head}"></head>
<body>
    
    <nav th:insert="~{index :: navbar}"></nav>
    
    <h1 class="text-center">I nostri articoli</h1>
    
    <div class="container" th:if="${articles.size() > 0}">
        <div class="row justify-content-center">
            <div th:each="article:${articles}" class="col-12 col-md-4 p-2">
                <div class="card">
                    <img th:if="${article.image != null and article.image.path != null and !article.image.path.isEmpty()}" th:src="${article.image.path}" class="card-img-top" alt="Foto dell'articolo">
                    <img th:unless="${article.image != null and article.image.path != null and !article.image.path.isEmpty()}" th:src="@{/images/default.png}" alt="Immagine di default">
                    <div class="card-body">
                        <h5 th:text="${article.title}" class="card-title"></h5>
                        <p th:text="${article.subtitle}" class="card-text"></p>
                        <p th:text="${article.user.username}"></p>
                        <a th:href="@{/articles/detail/{id}(id=${article.id})}" class="btn btn-primary">Leggi articolo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Se non ci sono articoli -->

    <div th:unless="${articles.size() > 0}" class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h2>Ancora nessun articolo disponibile</h2>
            </div>
        </div>
    </div>
    
    
    
    
    <head th:insert="~{index :: footer}"></head>
    
    <script th:insert="~{index :: bootstrapScript}"></script>

</body>
</html>